[default]
client_secret = xLD4oFmFHCcFlOF0sHWU9exL55x4gvG8ZJ4+UuDyqoU=
host = akab-iateral64b7q2mtp-uhlpwx747q6d5hsk.luna.akamaiapis.net
access_token = akab-tspktyudtkthiblu-6pedlonweipq5jpp
client_token = akab-y6igvh7v5yk3c5c5-52jufhxsrppcdnlx

[papi]
client_secret = xLD4oFmFHCcFlOF0sHWU9exL55x4gvG8ZJ4+UuDyqoU=
host = akab-iateral64b7q2mtp-uhlpwx747q6d5hsk.luna.akamaiapis.net
access_token = akab-tspktyudtkthiblu-6pedlonweipq5jpp
client_token = akab-y6igvh7v5yk3c5c5-52jufhxsrppcdnlx